.about-cont {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
  /* background-color: rgb(164, 88, 194); */
  background-image: linear-gradient(
    to right,
    #d4c28e,
    #f2b49d,
    rgb(208 215 133)
  );
}
#urlAb {
  color: #673ab7;
  text-decoration: none;
  padding: 0px 6px;
}
.txt-cont {
  color: #607d8b;
  text-align: justify;
  padding: 5px 20px;
  font-size: 25px;
  width: 100%;
  max-width: 100%;
}
.about-para {
  margin-bottom: 0;
}
.about-head {
  color: #673ab7;
}
@media screen and (max-width: 762px) {
  .about-img {
    display: none;
  }
}
@media screen and (max-width: 345) {
  #urlAb {
    color: #673ab7;
    text-decoration: none;
    padding: 0px 2px;
  }
}
