* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hom-img {
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
  display: grid;
  place-items: center;
}
.img-head {
  color: aliceblue;
}
.img-sub {
  color: #ebc8c8;
}
.part-2 {
  background-color: aliceblue;
}
#card-home {
  border: 19px solid rgb(183 212 215);
  border-radius: 9px;
}

#card-home:hover {
  box-shadow: 15px 15px 8px gray;
  transition: all 0.5s;
  transform: translateX(-10px);
  transform: translateY(10px);
}
.categ-txt {
  color: #3f51b5;
}
.home-head {
  color: #9c27b0;
  position: relative;
}
.home-head:before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -2px;
  height: 4px;
  border-radius: 50px;
  background: #77e21f;
  transition: width 0.3s ease;
}
.home-head:hover:before {
  width: 200px;
}
