* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.shp-bdy {
  background-color: aliceblue;
}
/* .shp-inp {
} */
/* .shp-imgCont {
  background-color: #9e9e9e;
  border-radius: 10px;
} */
.shp-head {
  background-color: cadetblue;
  height: 9vh;
  color: aliceblue;
}
#Shpimg-box {
  border: 1px solid white;
  border-radius: 10px;
  margin: 7px 7px;
}
.cart-btn {
  margin-bottom: 8px;
}
.img-col {
  margin: 8px;
  border: 6px solid white;
  border-radius: 8px;
}
.prName,
.prPrice {
  color: #3f51b5;
}
.prNm,
.prVal {
  color: #4caf50;
}
.shpHd {
  color: #9c27b0;
}
